@import "tailwindcss";

@theme {
    --gris: rgba(56, 72, 90, 1);
    --morado-formulario: rgba(112, 16, 178, 0.2);
    --negro: rgba(37, 37, 37, 1);
    --principal: rgba(151, 0, 255, 1);
    --secundario: rgba(0, 183, 159, 1);
}

