
@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../src/assets/fonts/Nunito-Regular.ttf");
}

@import 'tailwindcss';

@theme {
    --gris: rgba(56, 72, 90, 1);
    --morado-formulario: rgba(112, 16, 178, 0.2);
    --negro: rgba(37, 37, 37, 1);
    --principal: rgba(151, 0, 255, 1);
    --secundario: rgba(0, 183, 159, 1);

    --font-raleway: Raleway, "sans-serif";
    --font-nunito: Nunito, "sans-serif";
}

:root{
    font-family: Raleway, "sans-serif";

    background: linear-gradient(
    315deg,
    #271633 0%,
    rgba(89, 22, 139, 0.20) 19.71%,
    #271633 72.12%,
    rgba(28, 57, 142, 0.20) 100%
    ), #000;
    
}

.container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 47rem;
  height: 42rem;
  position: relative;
}


/*@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide video {
    width: 28rem !important;
    height: 36rem !important;
  }
}*/
