
@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("../src/assets/fonts/Nunito-Regular.ttf");
}

@import 'tailwindcss';

@theme {
    --gris: rgba(56, 72, 90, 1);
    --morado-formulario: rgba(112, 16, 178, 0.2);
    --negro: rgba(37, 37, 37, 1);
    --principal: rgba(151, 0, 255, 1);
    --secundario: rgba(0, 183, 159, 1);

    --font-raleway: Raleway, "sans-serif";
    --font-nunito: Nunito, "sans-serif";
}

:root{
    font-family: Raleway, "sans-serif";

    background: linear-gradient(
    315deg,
    #271633 0%,
    rgba(89, 22, 139, 0.20) 19.71%,
    #271633 72.12%,
    rgba(28, 57, 142, 0.20) 100%
    ), #000;
    
}

.swiper_container {
    width:100%;
    height: 52rem;
    padding: 2rem 0;
    position: relative;
}

.swiper-slide {
    display: flex;
    flex: 0 0 auto;
    width: 33.333%; 
    justify-content: center;
    align-items: center;
    pointer-events: auto !important;
    transform: scale(0.85);
}

.swiper-slide-active {
  transform: scale(1);
}